<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <title>connexion</title>
    <style>
        /** Code By Webdevtrick ( https://webdevtrick.com ) **/
        
        * {
            box-sizing: border-box;
        }
        
        body {
            font-family: 'Rubik', sans-serif;
            margin: 0;
            padding: 0;
        }
        
        .container {
            display: flex;
            height: 100vh;
        }
        
        .left-section {
            overflow: hidden;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            -webkit-animation-name: left-section;
            animation-name: left-section;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation-delay: 1s;
            animation-delay: 1s;
        }
        
        .right-section {
            flex: 1;
            background: linear-gradient(to right, #0685f5 0%, hsl(0, 8%, 91%) 100%);
            transition: 1s;
            background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/INPT_Rabat.jpg/1200px-INPT_Rabat.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        
        .header>h1 {
            margin: 0;
            color: #064ef5;
        }
        
        .header>h4 {
            margin-top: 10px;
            font-weight: normal;
            font-size: 15px;
            color: rgba(0, 0, 0, 0.4);
        }
        
        .form {
            max-width: 90%;
            display: flex;
            flex-direction: column;
        }
        
        .form>p {
            text-align: right;
        }
        
        .form>p>a {
            color: #000;
            font-size: 14px;
        }
        
        .form-field {
            height: 46px;
            padding: 0 16px;
            border: 2px solid #ddd;
            border-radius: 4px;
            font-family: 'Rubik', sans-serif;
            outline: 0;
            transition: .2s;
            margin-top: 20px;
            width: 70%;
        }
        .form-field2 {
            height: 46px;
            padding: 0 16px;
            border: 2px solid #ddd;
            border-radius: 4px;
            font-family: 'Rubik', sans-serif;
            outline: 0;
            transition: .2s;
            margin-top: 20px;
            width: 70%;
        }
        
        .form-field:focus, .form-field2:focus {
            border-color: #0f7ef1;
        }

        .link-password{
            color: blue
        }

        
        .form>button {
            padding: 12px 10px;
            border: 0;
            background: linear-gradient(to right, #0662f5 0%, #76d3f4 100%);
            border-radius: 3px;
            margin-top: 10px;
            color: #fff;
            letter-spacing: 1px;
            font-family: 'Rubik', sans-serif;
        }
        
        .animation {
            -webkit-animation-name: move;
            animation-name: move;
            -webkit-animation-duration: .4s;
            animation-duration: .4s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation-delay: 2s;
            animation-delay: 2s;
        }
        
        .a1 {
            -webkit-animation-delay: 2s;
            animation-delay: 2s;
        }
        
        .a2 {
            -webkit-animation-delay: 2.1s;
            animation-delay: 2.1s;
        }
        
        .a3 {
            -webkit-animation-delay: 2.2s;
            animation-delay: 2.2s;
        }
        
        .a4 {
            -webkit-animation-delay: 2.3s;
            animation-delay: 2.3s;
        }
        
        .a5 {
            -webkit-animation-delay: 2.4s;
            animation-delay: 2.4s;
        }
        
        .a6 {
            -webkit-animation-delay: 2.5s;
            animation-delay: 2.5s;
        }

        #buttonReturn{
            margin-top: 20px;
        }
        .form2{
            display: none;
        }
        
        @keyframes move {
            0% {
                opacity: 0;
                visibility: hidden;
                -webkit-transform: translateY(-40px);
                transform: translateY(-40px);
            }
            100% {
                opacity: 1;
                visibility: visible;
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }
        }
        
        @keyframes left-section {
            0% {
                opacity: 0;
                width: 0;
            }
            100% {
                opacity: 1;
                padding: 20px 40px;
                width: 440px;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="left-section">
            <div class="header">
                <h1 class="animation a1">Welcome Back!</h1>
                <h4 class="animation a2">Log in to your session.</h4>
            </div>
            <div class="form">
                <form action="/Connexion" method="POST">
                    <input class='form-field animation a3' name="username" type="text" placeholder="Username" required/>
                    <input class='form-field animation a4' name="password" type="password" placeholder="Password" required/>
                    <p class="animation a5"><a class="link-password">Forgot Password?</a></p>
                    <input class="animation a6" type="submit" value="Connect">
                </form>
            </div>
            <div class="form2">
                <form >
                    <input class='form-field2 animation a3' id ='username' name="username" type="text" placeholder="Username" required/>
                    <input class='form-field2 animation a3' id ='newPass' name="new_password" type="password" placeholder="New Password" required/>
                    <input class='form-field2 animation a4' id ='confirmNewPass' name="confirm_password" type="password" placeholder="Confirm Password" required />
                    <button class="animation a6" id='buttonReturn' >Change Password</button>
                    <button class="animation a6"  onclick="returnToConnect()">Back</button>

                </form>
            </div>
        </div>
        
        <div class="right-section"></div>
    </div>
    <script>
        var linkPassword = document.querySelector('.link-password')
        var form = document.querySelector('.form')
        var form2 = document.querySelector('.form2')
        var UsernameInput = document.querySelector('.form2 input[name="username"]');
        var newPasswordInput = document.querySelector('.form2 input[name="new_password"]');
        var confirmNewPasswordInput = document.querySelector('.form2 input[name="confirm_password"]');
        var errorText = document.createElement('p');
        errorText.textContent = 'No matching Passwords';
        errorText.style.color = 'red';
        errorText.style.display = 'none';
        form2.appendChild(errorText);
        var formFields = document.querySelectorAll('.form-field2')

        linkPassword.addEventListener('click', () => {
            form.style.display = 'none'
            form2.style.display = 'block'
        })

        function returnToConnect(){
                form.style.display = 'block'
                form2.style.display = 'none'                
        }
            

        document.querySelector('#buttonReturn').addEventListener('click', (event) => {
            event.preventDefault(); // Prevent form submission
            var username = UsernameInput.value.trim();
            var newPass = newPasswordInput.value.trim();
            var confirmNewPass = confirmNewPasswordInput.value.trim();

            if (username === '' || newPass === '' || confirmNewPass === '') {
                form2.querySelectorAll('.form-field2').forEach(elt => {
                    elt.style.border = '1px solid red';
                    elt.focus()
                });
            } else if (newPass !== confirmNewPass) {
                alert('Passwords do not match');
                return;
                 // Show the error text
            }else{
                fetch('/Comptes', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    username: username,
                    new_password: newPass
                })
                })
                .then(response => {
                    if (response.ok) {
                        alert('Password changed successfully'); // Display success message
                        // Perform actions after successful password change, if needed
                    } else {
                        alert('Failed to change password'); // Display error message
                        // Perform actions when the password change fails, if needed
                    }
                })
                .catch(error => {
                    console.error('Error:', error); // Log any errors to the console
                    alert('An error occurred while changing the password'); // Display error message
                    // Perform actions when an error occurs, if needed
                });
                    }
            });
        
    </script>
   
</body>
</html>