<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>connexion</title>
</head>
<body>
    <h1>Connect to your session</h1>
    <form action="/Connexion" method="POST">
        <input name="username" type="text" placeholder="username" required/>
        <input name="password" type="password" placeholder="password"/>
        <input type="submit" value="Connect">
    </form>
</body>
</html>