<!DOCTYPE html>
<html>

<head>
    <title>Présentation des filières</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        
        h1 {
            text-align: center;
            margin-bottom: 30px;
            color: #333;
        }
        
        #filiere-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 20px;
            margin-left: 300px;
            margin-right: 20px;
        }
        
        .filiere {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 20px;
            margin-bottom: 20px;
            width: calc(33.33% - 20px);
        }
        
        .filiere h2 {
            margin-top: 0;
            color: #333;
        }
        
        .filiere p {
            color: #666;
        }
        
        .actions {
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;
        }
        
        .actions button:hover {
            background-color: #0056b3;
        }
        
        #ajouter-filiere {
            display: block;
            margin: 30px auto;
            text-align: center;
            font-size: larger;
        }
        
        .actions button {
            margin-left: 10px;
            padding: 3px 8px;
            border-radius: 3px;
            background-color: #007bff;
            border: none;
            color: #fff;
            cursor: pointer;
            font-size: 12px;
        }
        
        #ajouter-filiere button {
            width: 40px;
            height: 10px;
            padding: 0;
            border-radius: 5px;
            background-color: #007bff;
            border: none;
            color: #fff;
            cursor: pointer;
        }
        
        #ajouter-filiere button:hover {
            background-color: green;
        }
    </style>
</head>

<body>
    <%- include('./sideBar') %>
        <h1>Présentation des filières</h1>

        <div id="filiere-container">
            <div class="filiere">
                <h2>AS-EDS</h2>
                <p>AS-EDS est une filière axée sur les systèmes embarqués et la conception de logiciels pour des applications embarquées.</p>
                <div class="actions">
                    <button onclick="ajouterFiliere(event)">modifier</button>
                    <script>
                        function ajouterFiliere(event) {
                            location.href = '/addMatiere'
                        }
                    </script>
                    <button class="supprimer">Supprimer</button>
                </div>
            </div>

            <div class="filiere">
                <h2>ICCN</h2>
                <p>ICCN est une filière spécialisée dans les réseaux informatiques, la cybersécurité et les communications.</p>
                <div class="actions">
                    <button class="modifier">Modifier</button>
                    <button class="supprimer">Supprimer</button>
                </div>
            </div>

            <div class="filiere">
                <h2>DATA</h2>
                <p>DATA est une filière dédiée à la gestion, l'analyse et l'exploitation des données massives et du Big Data.</p>
                <div class="actions">
                    <button class="modifier">Modifier</button>
                    <button class="supprimer">Supprimer</button>
                </div>

            </div>
            <button style="  
            padding: 3px 8px;
            height:50px;

            border-radius: 3px;
            background-color: #00ffa6;
            border: none;
            color: #fff;
            cursor: pointer;
            font-size: 12px;" onclick="ajouterFiliere(event)">Ajouter filiere</button>
            <script>
                function ajouterFiliere(event) {
                    location.href = '/addMatiere'
                }
            </script>
        </div>
</body>


</html>