<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <%- include('sideBar') %>
    <div class="container">
        <h1>Manage accounts</h1>
        <button>Ajouter un professeur</button>
        <ul>
            <li>
                <div class="professeur"></div>
            </li>

        </ul>
    </div>
    
</body>
</html>