<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .container{
            width: calc(100% - 200px);
            margin-left: 270px;
        }
        h1{
          margin: 50px;

        }
        #seanceForm{
          padding: 20px;
          margin-left: 30px;
        }

        .form-element{
          margin-bottom: 15px;
        }
        .form-submit-button {
          padding: 10px 20px;
          background-color: #4CAF50;
          color: white;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }
        label {
          display: block;
          margin-bottom: 10px;
          font-weight: bold;
        }

        /* Style form inputs */
        input{
          width: 60%;
          padding: 10px;
          margin-bottom: 15px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }

        textarea{
          width: 60%;
          height: 50px;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
        .form-delete-button{
          padding: 10px 20px;
          background-color: #ff4444;
          color: white;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }
    </style>
</head>
<body>
  <%- include('sideBarProf') %>
    
    <div class="container">
      <h1>Séance</h1>
      <form id="seanceForm" method="POST" action="/seance">
        <div class="form-element">
          <label for="numero">Numéro de la séance:</label>
          <input type="number" id="numero" name="numero" min="1" max="10" required>
        </div>
        <div class="form-element">
          <label for="date">Date:</label>
          <input type="date" id="date" name="date" required>
        </div>
        <div class="form-element">
          <label for="heureDebut">Heure de début:</label>
          <input type="time" id="heureDebut" name="heureDebut" required>
        </div>
        <div class="form-element">
          <label for="heureFin">Heure de fin:</label>
          <input type="time" id="heureFin" name="heureFin" required>
        </div>
        <div class="form-element">
          <label for="objectifs">Objectifs:</label>
          <textarea id="objectifs" name="objectifs" required></textarea>
        </div>
        <div class="form-element">
          <label for="remarques">Remarques:</label>
          <textarea id="remarques" name="remarques"></textarea>
        </div>
        <input type="hidden" name="courseId" value="<%= courseId %>">
        
        <div class="form-element">
          <button type="submit" class="form-submit-button">Enregistrer</button>
        </div>
      </form>
        <button class="form-delete-button" data = "<%= courseId %>" onclick="goBack(event)">Supprimer</button>
        <script>
          function goBack(event){
            var courseId = event.target.getAttribute('data');  
            location.href = 'seanceList/' + courseId
          }
        </script>

      
    </div>
      
    
</body>
</html>